*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
color:#333;
line-height:1.6;
}

header{
background:#111827;
color:white;
padding:20px;
}

.header-container{
display:flex;
align-items:center;
justify-content:space-between;
}

.profile{
width:70px;
height:70px;
border-radius:50%;
}

nav{
margin-top:15px;
}

nav a{
color:white;
margin-right:15px;
text-decoration:none;
font-weight:bold;
}

section{
max-width:900px;
margin:auto;
padding:40px 20px;
}

h2{
margin-bottom:20px;
}

.skill{
margin-bottom:20px;
}

.bar{
background:#ddd;
height:10px;
border-radius:10px;
overflow:hidden;
}

.bar div{
height:100%;
background:#3b82f6;
}

.project{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:6px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.project a{
color:#2563eb;
text-decoration:none;
font-weight:bold;
}

.btn{
display:inline-block;
background:#2563eb;
color:white;
padding:10px 15px;
border-radius:5px;
margin-right:10px;
text-decoration:none;
}

footer{
text-align:center;
padding:20px;
background:#111;
color:white;
}

/* animations */

.fade{
opacity:0;
transform:translateY(30px);
transition:all 0.6s ease;
}

.fade.show{
opacity:1;
transform:translateY(0);
}

/* dark mode */

.dark{
background:#0f172a;
color:white;
}

.dark header{
background:#020617;
}

.dark .project{
background:#1e293b;
}

/* mobile */

@media(max-width:600px){

.header-container{
flex-direction:column;
gap:10px;
}

nav{
text-align:center;
}

}